/*TIRAR TODAS AS MARGENS E PADINGS DOS ELEMENTOS E PROPRIEDADES BASE DO HTML*/

* {
    margin: 0 !important;
    padding: 0 !important;
}
body {

     height: 100%;
     width: 100%;
    background-image: url("../images/background.png");
    background-size: cover;
    font-family: 'Barlow', sans-serif;
    font-size: 11pt!important;
    color:#efd0bc;
 }
html {
    scroll-behavior: smooth;
}

/*PROPRIEDADES DE DIV'S COM SCROLL*/

.div-w-scroll {

    max-height: 120%;
    overflow: auto;
    padding-bottom: 28vh!important;

}

/*ICONS DE FUNDO CLARO UTILIZADO NA NAV-TOP*/

.icon {

    padding: 3px;
    background-color: #EDCEBA;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 24px 8px rgba(0, 0, 0, 0.25);
    height: 5vh;

}

/*CLIPING-MASK'S DAS DIV'S E DA NAV-TOP*/

.clip-me-header {
    background: linear-gradient(180deg, rgba(101,66,60,1) 11%, rgba(119,88,69,1) 40%);
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0;
    right: 0;
    clip-path: ellipse(65% 100% at 50% 0%);
    animation-name: fall;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
}


.clip-me-div {

    z-index: 0;
    background: linear-gradient(180deg, rgba(119,88,69,1) 0%, rgba(56, 20, 39, 1)19%);
    position: absolute;
    padding-top: 15vh !important;
    width: 100%;
    height:89%;
    left: 0;
    right: 0;
    clip-path: ellipse(130% 100% at 50% 0%);
    animation-name: fall;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

/*ESTADO INICIAL DO DAS DIV INFO*/

.begin {

    display: none;
}



/*ANIMAÇÃO INICIAL DE DEXER TODOS OS ELEMENTOS*/

@keyframes fall {

    0% {
        top: -100%;
    }

    100% {
        top: 0;
    }

}

/*ANIMAÇÃO DE DEXER AS DIV INFO*/

@keyframes animation1 {

    0% {
        position: relative;
        display: block;
        opacity: 0;
        top: -10%;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}



/*CSS DO LOADER*/

/* LOADING DOTS*/
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #EFD0BC;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/*LANTERNA ANIMATION*/

.open_close_animation {

    animation: open_close 7s infinite;
    animation-timing-function: linear;
}
.open_animation{
    padding-top: 15vh !important;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 88%, 0 60%);
    animation: open 7s;
    animation-timing-function: linear;
}

@keyframes open_close {

    0% {clip-path: polygon(0 0, 100% 0, 50% 0%, 50% 88%, 50% 0%);}
    5%{clip-path: polygon(0 0, 100% 0, 50% 0%, 50% 88%, 50% 0%);}
    8% {clip-path: polygon(0 0, 100% 0, 100% 0%, 50% 88%, 0 0%);}
    10% {clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 88%, 0 60%);}
    90% {clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 88%, 0 60%);}
    92% {clip-path: polygon(0 0, 100% 0, 100% 0%, 50% 88%, 0 0%);}
    95%{clip-path: polygon(0 0, 100% 0, 50% 0%, 50% 88%, 50% 0%);}
    100% {clip-path: polygon(0 0, 100% 0, 50% 0%, 50% 88%, 50% 0%);}



}

@keyframes open {

    0% {clip-path: polygon(0 0, 100% 0, 50% 0%, 50% 88%, 50% 0%);}
    5%{clip-path: polygon(0 0, 100% 0, 50% 0%, 50% 88%, 50% 0%);}
    8% {clip-path: polygon(0 0, 100% 0, 100% 0%, 50% 88%, 0 0%);}
    10% {clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 88%, 0 60%);}
}



/* BACKGROUND COLORS */
.bg-gradient-1 {

    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(35, 15, 27, 1) 0%, rgba(56, 20, 39, 1) 27%);

}


.bg-ligth-lantern {

    background-color: #542D44;
}


/*FIM DO CSS DO LOADER*/

.titulo_contactos {
    font-size: 16pt;
    background-color: #23151F;
    color: #E6CEBB;
    border-radius: 15px;
    padding: 5px;
    margin: 7px;
}

.info_contactos {
    background: rgb(154,134,123);
    background: linear-gradient(90deg, rgba(154,134,123,0.29735644257703087) 0%, rgba(154,134,123,1) 100%);
    color: #E6CEBB;
}

.circulo {
    border-radius: 50px;
    background-color: #23151F;
    color: #9A867B;
}

.contacto_baixo {

    background: rgb(111,89,72);
    background: linear-gradient(90deg, rgba(111,89,72,1) 0%, rgba(230,206,187,1) 100%);
    color: #23151F;
}
a {
    text-decoration: none;
}

.home-casa {
    background-color: #33192A;
}

.casa {
    color: #E6CEBB;
}

.p-t-0{

    padding-top: 10vh!important;
}


.circulo2 {
    background-color:#efd0bc;
    color: #230f1b;
    top: -20px;
    font-size: 30px;
}

.border {
    border-radius: 20px;
    border: solid #efd0bc 5px!important;
}

.border_3 {
    border-radius: 12px;
    border: solid rgba(56, 20, 39, 1) 4px!important;
    background-color: #a2857b;
}
.border_2 {
    border-radius: 20px;
    border: solid #a2857b 8px!important;
}

.coracao {
    border-radius: 50px;
    padding: 12px!important;
    background-color:#a2857b;
    color: #efd0bc;
    font-size: 30px;
    -webkit-box-shadow: 0 1px 24px 8px rgba(0, 0, 0, 0.25);
}




